---
import Instagram from "@/icons/Instagram.astro";
import Link from "@/icons/Link.astro";
import X from "@/icons/X.astro";
import YouTube from "@/icons/YouTube.astro";

interface Props {
  name: string;
  icon: string;
  link: string;
}

const SOCIAL_ICONS: Record<string, any> = {
  Instagram,
  Link,
  X,
  YouTube,
};

const { name, icon, link } = Astro.props;

const Icon = SOCIAL_ICONS[icon];
---

<a href={link}>
  <span>
    {name}
  </span>
  <div>
    <Icon />
  </div>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 90%);
    font-size: 1rem;

    transition:
      padding 120ms linear,
      background 120ms;

    & svg {
      width: 14px;
    }

    &:hover {
      background-color: hsl(0, 0%, 15%);
      padding-inline: 1rem;
    }
  }
</style>
